@* Sidebar trang - CozaStore style *@
<div class="bor10 p-lr-20 p-t-20 p-b-20">
    <h4 class="mtext-112 cl2 p-b-20 stext-113">Danh mục</h4>
    <ul>
        <li class="p-b-10"><a asp-controller="Products" asp-action="Index" class="stext-107 cl7 hov-cl1 trans-04">Tất cả sản phẩm</a></li>
        <li class="p-b-10"><a asp-controller="Pages" asp-action="GioiThieu" class="stext-107 cl7 hov-cl1 trans-04">Giới thiệu</a></li>
        <li class="p-b-10"><a asp-controller="Contact" asp-action="Index" class="stext-107 cl7 hov-cl1 trans-04">Liên hệ</a></li>
        <li class="p-b-10"><a asp-controller="Pages" asp-action="HeThongCuaHang" class="stext-107 cl7 hov-cl1 trans-04">Hệ thống cửa hàng</a></li>
        <li class="p-b-10"><a asp-controller="Pages" asp-action="HuongDanMuaHang" class="stext-107 cl7 hov-cl1 trans-04">Hướng dẫn mua hàng</a></li>
        <li class="p-b-10"><a asp-controller="Pages" asp-action="PhuongThucThanhToan" class="stext-107 cl7 hov-cl1 trans-04">Phương thức thanh toán</a></li>
        <li class="p-b-10"><a asp-controller="Pages" asp-action="ChinhSachVanChuyen" class="stext-107 cl7 hov-cl1 trans-04">Chính sách vận chuyển</a></li>
        <li class="p-b-10"><a asp-controller="Pages" asp-action="ChinhSachDoiHang" class="stext-107 cl7 hov-cl1 trans-04">Hoàn trả / Đổi trả</a></li>
        <li class="p-b-10"><a asp-controller="Pages" asp-action="ChinhSachBaoHanh" class="stext-107 cl7 hov-cl1 trans-04">Chính sách bảo hành</a></li>
        <li class="p-b-10"><a asp-controller="Pages" asp-action="DieuKhoanDichVu" class="stext-107 cl7 hov-cl1 trans-04">Điều khoản dịch vụ</a></li>
        <li class="p-b-10"><a asp-controller="Pages" asp-action="ChinhSachQuyenRiengTu" class="stext-107 cl7 hov-cl1 trans-04">Chính sách bảo mật</a></li>
        <li class="p-b-10"><a asp-controller="Pages" asp-action="ChinhSachKhachHangThanThiet" class="stext-107 cl7 hov-cl1 trans-04">Khách hàng thân thiết</a></li>
    </ul>
</div>
