@{
    Layout = "_HexashopLayout";
    ViewData["Title"] = "Chính sách khách hàng thân thiết";
    var hexashop = "/hexashop";
}

<!-- Page Title -->
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="fw-bold" style="color: #2a2a2a; font-size: 2rem;">Chính sách khách hàng thân thiết</h2>
        </div>
    </div>
</div>

<!-- ***** About Area Starts ***** -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="right-content">
                    <h4 class="text-center">CHÍNH SÁCH KHÁCH HÀNG THÂN THIẾT BÌNH PHƯỚC SHOP</h4>
                    <div style="line-height:1.8;">
                    <p><strong>CHÍNH SÁCH KHÁCH HÀNG THÂN THIẾT</strong></p>
                    <p>Nhằm tri ân Quý khách hàng đã luôn tin tưởng và lựa chọn Mulgati, chúng tôi mang đến các chính sách đặc biệt chỉ dành riêng cho Khách hàng thân thiết như sau:</p>
                    <p class="text-center"><img src="https://file.hstatic.net/200000410665/file/chinh-sach-khach-hang_df177282fa3a49218558f9ccc99efe5f.png" alt="Chính sách khách hàng thân thiết" class="img-fluid" /></p>
                        <p><strong>LƯU Ý:</strong></p>
                        <ul>
                            <li>Mỗi khách hàng chỉ nên sử dụng một số điện thoại duy nhất để tích lũy điểm khi mua sắm tại hệ thống cửa hàng Bình Phước Shop.</li>
                            <li>Khách hàng lần đầu cần cung cấp đầy đủ thông tin (Tên, Số điện thoại, Ngày sinh) để được cấp tài khoản thành viên và hưởng chế độ bảo hành.</li>
                        </ul>
                        <p><strong>Hotline: 1900 4510</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** About Area Ends ***** -->
