@{
    Layout = "_HexashopLayout";
    ViewData["Title"] = "Hệ thống cửa hàng";
    var hexashop = "/hexashop";
}

<!-- Page Title -->
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="fw-bold" style="color: #2a2a2a; font-size: 2rem;">Hệ thống cửa hàng</h2>
        </div>
    </div>
</div>

<!-- ***** About Area Starts ***** -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="right-content">
                    <h4>Hệ thống cửa hàng của Bình Phước Shop</h4>
                    <div style="line-height:1.8;">
                    <p><strong>Hà Nội:</strong></p>
                    <ul>
                        <li><strong>Mulgati Vincom Bà Triệu:</strong> Tầng 3, L3-301, Tháp B, Vincom Center Bà Triệu, Quận Hai Bà Trưng</li>
                        <li><strong>Mulgati GO Thăng Long:</strong> S139, Big C Thăng Long, 222 đường Trần Duy Hưng, Trung Hòa, Cầu Giấy</li>
                        <li><strong>Mulgati Aeon Mall Hà Đông:</strong> Showroom T102-1, Aeon Mall Hà Đông, Dương Nội, Hà Đông</li>
                        <li><strong>Mulgati Aeon Mall Long Biên:</strong> Showroom T243, Aeon Mall Long Biên, 27 đường Cổ Linh, Long Biên</li>
                        <li><strong>Mulgati Tasco Mall:</strong> S119 tầng 1 Tasco mall Long Biên Đ. Nguyễn Văn Linh, Gia Thụy, Long Biên, Hà Nội</li>
                    </ul>
                    <p><strong>Hải Phòng:</strong></p>
                    <ul><li><strong>Mulgati Aeon Mall Hải Phòng:</strong> Showroom T240, Aeon Mall Hải Phòng Lê Chân</li></ul>
                    <p><strong>Huế:</strong></p>
                    <ul><li><strong>Mulgati Aeon Mall Huế:</strong> Showroom T209, Aeon Mall Huế</li></ul>
                    <p><strong>Đà Nẵng:</strong></p>
                    <ul><li><strong>Mulgati Vincom Đà Nẵng:</strong> Showroom L2-05A, Vincom Plaza Ngô Quyền</li></ul>
                        <p class="text-center mt-4"><img src="https://file.hstatic.net/200000410665/file/_dsc7191_9e2a954001b0497cac39a788617bff07_grande.jpg" alt="Hệ thống cửa hàng Bình Phước Shop" class="img-fluid" /></p>
                        <div class="text-center mt-4">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.5400238871257!2d105.84948329999999!3d21.011067699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab94acc75ef5%3A0x90571614e5e0c1b2!2sMULGATI!5e0!3m2!1svi!2s!4v1670226856071" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** About Area Ends ***** -->
