@{
    Layout = "_HexashopLayout";
    ViewData["Title"] = "Phương thức thanh toán";
    var hexashop = "/hexashop";
}

<!-- Page Title -->
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="fw-bold" style="color: #2a2a2a; font-size: 2rem;">Phương thức thanh toán</h2>
        </div>
    </div>
</div>

<!-- ***** About Area Starts ***** -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="right-content">
                    <h4>Phương thức thanh toán</h4>
                    <p style="text-align: justify;">Dưới đây là các hình thức thanh toán chấp nhận tại Bình Phước Shop:</p>
                    <h4 class="mt-4"><strong>Khi mua hàng trực tiếp tại cửa hàng</strong></h4>
                    <p>Quý khách có thể đến trực tiếp cửa hàng, lựa chọn sản phẩm và thanh toán tiền mặt trực tiếp với nhân viên hoặc cà thẻ qua POS do ngân hàng lắp đặt tại cửa hàng.</p>
                    <p>Một số loại thẻ chấp nhận thanh toán bao gồm: Thẻ nội địa (Vietcombank, Techcombank, BIDV…), thẻ visa, thẻ master.</p>
                    <h4 class="mt-4"><strong>Khi mua hàng online</strong></h4>
                    <p>Quý khách hàng mua hàng online có thể thanh toán tiền hàng theo 2 phương thức thanh toán: chuyển khoản trước khi nhận hàng hoặc sau khi nhận hàng rồi thanh toán trực tiếp cho người giao hàng (COD).</p>
                    <p>Quý khách thanh toán bằng hình thức chuyển khoản khi Bình Phước Shop đã liên hệ và xác nhận đơn hàng với các tài khoản dưới đây. Khi nhận được thông báo của ngân hàng, chúng tôi sẽ thực hiện đơn đặt hàng của Quý khách.</p>
                    <h4 class="mt-4"><strong>Thông tin chuyển khoản</strong></h4>
                    <ul style="line-height: 2;">
                        <li>Tên chủ tài khoản: <strong>CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ MULGATI VIỆT NAM</strong></li>
                        <li>Số tài khoản: <strong>19133956611017</strong></li>
                        <li>Ngân hàng: <strong>TECHCOMBANK - Ngân hàng TMCP Kỹ thương Việt Nam</strong></li>
                        <li>Nội dung thanh toán theo cú pháp: <strong>[SĐT] [Khoảng cách] [Nội dung muốn nhắn thêm (nếu có)]</strong></li>
                    </ul>
                    <p>Sau khi hoàn tất chuyển khoản, quý khách vui lòng gọi điện vào hotline <a href="tel:19004510">1900 4510</a> để nhân viên Bình Phước Shop xác nhận thanh toán và xử lý đơn hàng.</p>
                    <p>Rất hân hạnh được phục vụ quý khách!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** About Area Ends ***** -->
